<div class="row mb-1 mr-0 custom-border mt-1 mb-1">
  <div class="col-md-1  custom-border-right p-1 text-center mt-1 mb-1">
    <img src="assets/icon-produit.png" height="60px" width="60px">
  </div>
  <!--detail article-->
  <div class="col-md-5 custom-border-right mt-1 mb-1 ">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-10">Nom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-10">Prenom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
        <div class="col-md-10">06 23 45 67 89</div>
      </div>
    </div>
  </div>
  <!--detail commande-->
  <div class="col-md-3 custom-border-right">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-qrcode blue-color"></i></div>
        <div class="col-md-10">CMD-123456789</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-calendar-check blue-color"></i></div>
        <div class="col-md-10">12.12.2022</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-cart-arrow-down blue-color"></i></div>
        <div class="col-md-10">LIVREE</div>
      </div>
    </div>
  </div>
  <!--detail action-->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-link ">
          <i class="fas fa-pencil-alt blue-color"></i>&nbsp;
          Modifier
        </button>
      </div>
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-link ">
          <i class="fas fa-trash-alt blue-color"></i>&nbsp;
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>


