<div class="row mb-1 m-0 custom-border ">
  <!-- Details article -->
  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="row text-center">
      <div class="col-md-12">Code article</div>
    </div>
  </div>

  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        Designation article
      </div>
    </div>
  </div>
  <!-- Quantite commande -->
  <div class="col-md-2 custom-border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        6
      </div>
    </div>
  </div>
  <!-- Prix unitaire -->
  <div class="col-md-2 custom-border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        12,5
      </div>
    </div>
  </div>
  <!-- Prix total de la commande -->
  <div class="col-md-2 text-center mb-1 mt-1">
    74,5
  </div>
</div>
