<div class="row mb-1 mr-0 custom-border mt-1 mb-1">
  <div class="col-md-1  custom-border-right p-1 text-center mt-1 mb-1">
    <img src="assets/default-avatar.png" height="60px" width="60px" alt="">
  </div>
  <!--detail article-->
  <div class="col-md-5 custom-border-right  mt-1 mb-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-10">Nom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-10">Prenom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
        <div class="col-md-10">06 23 45 67 89</div>
      </div>
    </div>
  </div>
  <!--detail categorie-->
  <div class="col-md-3 custom-border-right mt-1 mb-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fas fa-home blue-color"></i></div>
        <div class="col-md-10">Adresse1 adresse2</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-map-marker-alt blue-color"></i></div>
        <div class="col-md-10">12345 ville</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fas fa-globe-africa blue-color"></i></div>
        <div class="col-md-10">Pays</div>
      </div>
    </div>
  </div>
  <!--detail action-->
  <div class="col-md-3 ">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link ">
          <i class="fas fa-pencil-alt blue-color"></i><br>Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link ">
          <i class="fas fa-trash-alt blue-color"></i><br> Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link ">
          <i class="fas fa-list-alt blue-color"></i><br> Detail
        </button>
      </div>
    </div>
  </div>
</div>
